<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_benchmarkTitle" class="control-label">Benchmark Title:</label>

                <div class="controls">
                    <input id="input_benchmarkTitle" type="text" class="span9" readonly wicket:id="input_benchmarkTitle"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_benchmarkArguments" class="control-label">Benchmark Arguments:</label>

                <div class="controls">
                    <input id="input_benchmarkArguments" type="text" class="span9" readonly wicket:id="input_benchmarkArguments"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_helperThreadLookahead" class="control-label">Helper Thread Lookahead:</label>

                <div class="controls">
                    <input id="input_helperThreadLookahead" type="text" class="span1" readonly wicket:id="input_helperThreadLookahead"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_helperThreadStride" class="control-label">Helper Thread Stride:</label>

                <div class="controls">
                    <input id="input_helperThreadStride" type="text" class="span1" readonly wicket:id="input_helperThreadStride"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_numCores" class="control-label">Number of Cores:</label>

                <div class="controls">
                    <input id="input_numCores" type="text" class="span1" readonly wicket:id="input_numCores"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_numThreadsPerCore" class="control-label">Number of Threads Per Core:</label>

                <div class="controls">
                    <input id="input_numThreadsPerCore" type="text" class="span1" readonly wicket:id="input_numThreadsPerCore"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1ISize" class="control-label">L1I Size:</label>

                <div class="controls">
                    <input id="input_l1ISize" type="text" class="span1" readonly wicket:id="input_l1ISize"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1IAssociativity" class="control-label">L1I Associativity:</label>

                <div class="controls">
                    <input id="input_l1IAssociativity" type="text" class="span1" readonly wicket:id="input_l1IAssociativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1DSize" class="control-label">L1D Size:</label>

                <div class="controls">
                    <input id="input_l1DSize" type="text" class="span1" readonly wicket:id="input_l1DSize"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1DAssociativity" class="control-label">L1D Associativity:</label>

                <div class="controls">
                    <input id="input_l1DAssociativity" type="text" class="span1" readonly wicket:id="input_l1DAssociativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2Size" class="control-label">L2 Size:</label>

                <div class="controls">
                    <input id="input_l2Size" type="text" class="span1" readonly wicket:id="input_l2Size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2Associativity" class="control-label">L2 Associativity:</label>

                <div class="controls">
                    <input id="input_l2Associativity" type="text" class="span1" readonly wicket:id="input_l2Associativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2ReplacementPolicyType" class="control-label">L2 Replacement Policy Type:</label>

                <div class="controls">
                    <input id="input_l2ReplacementPolicyType" type="text" class="span1" readonly wicket:id="input_l2ReplacementPolicyType"/>
                </div>
            </div>

        </div>
    </div>
</wicket:panel>
</body>
</html>
