<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="pagination">
        <ul>
            <li><a wicket:id="first">First</a></li>
            <li><a wicket:id="prev">Prev</a></li>

            <li wicket:id="navigation">
                <a wicket:id="pageLink"><span wicket:id="pageNumber"></span></a>
            </li>

            <li><a wicket:id="next">Next</a></li>
            <li><a wicket:id="last">Last</a></li>
        </ul>
    </div>
</wicket:panel>
</body>
</html>
