<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="pagination pagination-centered">
        <ul>
            <li><button class="btn" wicket:id="first">First</button></li>
            <li><button class="btn" wicket:id="prev">Prev</button></li>

            <li wicket:id="navigation">
                <button class="btn" wicket:id="pageLink"><span wicket:id="pageNumber"></span></button>
            </li>

            <li><button class="btn" wicket:id="next">Next</button></li>
            <li><button class="btn" wicket:id="last">Last</button></li>
        </ul>
    </div>
</wicket:panel>
</body>
</html>
