<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row-fluid">
        <div class="control-group">
            <label for="tlbSizeInStorageUnit" class="control-label">Size:</label>

            <div class="controls">
                <input type="text" id="tlbSizeInStorageUnit" wicket:id="tlbSizeInStorageUnit"/>
            </div>
        </div>

        <div class="control-group">
            <label for="tlbAssociativity" class="control-label">Associativity:</label>

            <div class="controls">
                <input type="number" id="tlbAssociativity" wicket:id="tlbAssociativity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="tlbLineSize" class="control-label">Line Size:</label>

            <div class="controls">
                <input type="number" id="tlbLineSize" wicket:id="tlbLineSize"/>
            </div>
        </div>

        <div class="control-group">
            <label for="tlbHitLatency" class="control-label">Hit Latency:</label>

            <div class="controls">
                <input type="number" id="tlbHitLatency" wicket:id="tlbHitLatency"/>
            </div>
        </div>

        <div class="control-group">
            <label for="tlbMissLatency" class="control-label">Miss Latency:</label>

            <div class="controls">
                <input type="number" id="tlbMissLatency" wicket:id="tlbMissLatency"/>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
