<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row-fluid">

        <div class="control-group">
            <label for="l1ISizeInStorageUnit" class="control-label">L1I Size:</label>

            <div class="controls">
                <input type="text" id="l1ISizeInStorageUnit" wicket:id="l1ISizeInStorageUnit"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1IAssociativity" class="control-label">L1I
                Associativity:</label>

            <div class="controls">
                <input type="number" id="l1IAssociativity"
                       wicket:id="l1IAssociativity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1ILineSize" class="control-label">L1I
                Line Size:</label>

            <div class="controls">
                <input type="number" id="l1ILineSize" wicket:id="l1ILineSize"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1IHitLatency" class="control-label">L1I
                Hit Latency:</label>

            <div class="controls">
                <input type="number" id="l1IHitLatency" wicket:id="l1IHitLatency"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1INumReadPorts" class="control-label">
                Number of L1I Read Ports:</label>

            <div class="controls">
                <input type="number" id="l1INumReadPorts" wicket:id="l1INumReadPorts"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1INumWritePorts" class="control-label">
                Number of L1I Write Ports:</label>

            <div class="controls">
                <input type="number" id="l1INumWritePorts" wicket:id="l1INumWritePorts"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1IReplacementPolicyType" class="control-label">L1I Replacement Policy:</label>

            <div class="controls">
                <select id="l1IReplacementPolicyType" wicket:id="l1IReplacementPolicyType"></select>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DSizeInStorageUnit" class="control-label">L1D Size:</label>

            <div class="controls">
                <input type="text" id="l1DSizeInStorageUnit" wicket:id="l1DSizeInStorageUnit"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DAssociativity" class="control-label">L1D
                Associativity:</label>

            <div class="controls">
                <input type="number" id="l1DAssociativity"
                       wicket:id="l1DAssociativity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DLineSize" class="control-label">L1D
                Line Size:</label>

            <div class="controls">
                <input type="number" id="l1DLineSize" wicket:id="l1DLineSize"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DHitLatency" class="control-label">L1D
                Hit Latency:</label>

            <div class="controls">
                <input type="number" id="l1DHitLatency" wicket:id="l1DHitLatency"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DNumReadPorts" class="control-label">
                Number of L1D Read Ports:</label>

            <div class="controls">
                <input type="number" id="l1DNumReadPorts" wicket:id="l1DNumReadPorts"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DNumWritePorts" class="control-label">
                Number of L1D Write Ports:</label>

            <div class="controls">
                <input type="number" id="l1DNumWritePorts" wicket:id="l1DNumWritePorts"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l1DReplacementPolicyType" class="control-label">L1D Replacement Policy:</label>

            <div class="controls">
                <select id="l1DReplacementPolicyType" wicket:id="l1DReplacementPolicyType"></select>
            </div>
        </div>

        <div class="control-group">
            <label for="l2SizeInStorageUnit" class="control-label">L2 Size:</label>

            <div class="controls">
                <input type="text" id="l2SizeInStorageUnit" wicket:id="l2SizeInStorageUnit"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l2Associativity" class="control-label">L2
                Associativity:</label>

            <div class="controls">
                <input type="number" id="l2Associativity"
                       wicket:id="l2Associativity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l2LineSize" class="control-label">L2
                Line Size:</label>

            <div class="controls">
                <input type="number" id="l2LineSize" wicket:id="l2LineSize"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l2HitLatency" class="control-label">L2
                Hit Latency:</label>

            <div class="controls">
                <input type="number" id="l2HitLatency" wicket:id="l2HitLatency"/>
            </div>
        </div>

        <div class="control-group">
            <label for="l2ReplacementPolicyType" class="control-label">L2 Replacement Policy:</label>

            <div class="controls">
                <select id="l2ReplacementPolicyType" wicket:id="l2ReplacementPolicyType"></select>
            </div>
        </div>

    </div>
</wicket:panel>
</body>
</html>
