<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row-fluid">

        <div class="control-group">
            <label for="physicalRegisterFileCapacity" class="control-label">
                Physical Register File Capacity:</label>

            <div class="controls">
                <input type="number" id="physicalRegisterFileCapacity"
                       wicket:id="physicalRegisterFileCapacity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="decodeWidth" class="control-label">
                Decode Width:</label>

            <div class="controls">
                <input type="number" id="decodeWidth"
                       wicket:id="decodeWidth"/>
            </div>
        </div>

        <div class="control-group">
            <label for="issueWidth" class="control-label">
                Issue Width:</label>

            <div class="controls">
                <input type="number" id="issueWidth"
                       wicket:id="issueWidth"/>
            </div>
        </div>

        <div class="control-group">
            <label for="commitWidth" class="control-label">
                Commit Width:</label>

            <div class="controls">
                <input type="number" id="commitWidth"
                       wicket:id="commitWidth"/>
            </div>
        </div>

        <div class="control-group">
            <label for="decodeBufferCapacity" class="control-label">
                Decode Buffer Capacity:</label>

            <div class="controls">
                <input type="number" id="decodeBufferCapacity"
                       wicket:id="decodeBufferCapacity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="reorderBufferCapacity" class="control-label">
                Reorder Buffer Capacity:</label>

            <div class="controls">
                <input type="number" id="reorderBufferCapacity"
                       wicket:id="reorderBufferCapacity"/>
            </div>
        </div>

        <div class="control-group">
            <label for="loadStoreQueueCapacity" class="control-label">
                Load/Store Queue Capacity:</label>

            <div class="controls">
                <input type="number" id="loadStoreQueueCapacity"
                       wicket:id="loadStoreQueueCapacity"/>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
