<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row-fluid">

        <div class="control-group">
            <label for="id" class="control-label">Id:</label>

            <div class="controls">
                <span id="id" class="span1 input uneditable-input" wicket:id="id"></span>
            </div>
        </div>

        <div class="control-group">
            <label for="title" class="control-label">Title:</label>

            <div class="controls">
                <span id="title" class="span9 input uneditable-input" wicket:id="title"></span>
            </div>
        </div>

        <div class="control-group">
            <label for="helperThreadPthreadSpawnIndex" class="control-label">
                Helper Thread Pthread Spawn Index:</label>

            <div class="controls">
                <input type="number" id="helperThreadPthreadSpawnIndex"
                       wicket:id="helperThreadPthreadSpawnIndex"/>
            </div>
        </div>

        <div class="control-group">
            <label for="numCores" class="control-label"># Cores:</label>

            <div class="controls">
                <input type="number" id="numCores" wicket:id="numCores"/>
            </div>
        </div>

        <div class="control-group">
            <label for="numThreadsPerCore" class="control-label"># Threads
                Per Core:</label>

            <div class="controls">
                <input type="number" id="numThreadsPerCore"
                       wicket:id="numThreadsPerCore"/>
            </div>
        </div>

        <div class="control-group">
            <label for="createTimeAsString" class="control-label">Create Time:</label>

            <div class="controls">
                <span id="createTimeAsString" class="input uneditable-input" wicket:id="createTimeAsString"></span>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
