<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row-fluid">

        <div class="control-group">
            <label for="memoryControllerType" class="control-label">Memory Controller Type:</label>

            <div class="controls">
                <select id="memoryControllerType" wicket:id="memoryControllerType"></select>
            </div>
        </div>

        <div wicket:id="fixedLatencyMemoryController">

            <div class="row-fluid">
                <div class="span9">

                    <div class="control-group">
                        <label for="fixedLatencyMemoryControllerLatency" class="control-label">
                            Latency:</label>

                        <div class="controls">
                            <input type="number" id="fixedLatencyMemoryControllerLatency"
                                   wicket:id="fixedLatencyMemoryControllerLatency"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div wicket:id="simpleMemoryController">

            <div class="row-fluid">
                <div class="span9">

                    <div class="control-group">
                        <label for="simpleMemoryControllerMemoryLatency" class="control-label">
                            Memory Latency:</label>

                        <div class="controls">
                            <input type="number" id="simpleMemoryControllerMemoryLatency"
                                   wicket:id="simpleMemoryControllerMemoryLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="simpleMemoryControllerMemoryTrunkLatency" class="control-label">
                            Memory Trunk Latency:</label>

                        <div class="controls">
                            <input type="number" id="simpleMemoryControllerMemoryTrunkLatency"
                                   wicket:id="simpleMemoryControllerMemoryTrunkLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="simpleMemoryControllerBusWidth" class="control-label">
                            Bus Width:</label>

                        <div class="controls">
                            <input type="number" id="simpleMemoryControllerBusWidth"
                                   wicket:id="simpleMemoryControllerBusWidth"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div wicket:id="basicMemoryController">

            <div class="row-fluid">
                <div class="span9">

                    <div class="control-group">
                        <label for="basicMemoryControllerToDramLatency" class="control-label">
                            To DRAM Latency:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerToDramLatency"
                                   wicket:id="basicMemoryControllerToDramLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerFromDramLatency" class="control-label">
                            From DRAM Latency:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerFromDramLatency"
                                   wicket:id="basicMemoryControllerFromDramLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerPrechargeLatency" class="control-label">
                            Precharge Latency:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerPrechargeLatency"
                                   wicket:id="basicMemoryControllerPrechargeLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerClosedLatency" class="control-label">
                            Closed Latency:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerClosedLatency"
                                   wicket:id="basicMemoryControllerClosedLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerConflictLatency" class="control-label">
                            Conflict Latency:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerConflictLatency"
                                   wicket:id="basicMemoryControllerConflictLatency"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerBusWidth" class="control-label">
                            Bus Width:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerBusWidth"
                                   wicket:id="basicMemoryControllerBusWidth"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerNumBanks" class="control-label">
                            Number of Banks:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerNumBanks"
                                   wicket:id="basicMemoryControllerNumBanks"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="basicMemoryControllerRowSize" class="control-label">
                            Row Size:</label>

                        <div class="controls">
                            <input type="number" id="basicMemoryControllerRowSize"
                                   wicket:id="basicMemoryControllerRowSize"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
