<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th wicket:id="column">
                <span wicket:id="key"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="row">
            <td wicket:id="value">
                <span wicket:id="key"></span>
            </td>
        </tr>
        </tbody>
    </table>
</wicket:panel>
</body>
</html>
