<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row-fluid">
        <div class="span9">

            <div class="control-group">
                <label for="benchmarkTitle" class="control-label">Benchmark Title:</label>

                <div class="controls">
                    <span id="benchmarkTitle" class="span9 input uneditable-input" wicket:id="benchmarkTitle"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="numMaxInstructions" class="control-label"># Max Instructions:</label>

                <div class="controls">
                    <span id="numMaxInstructions" class="span9 input uneditable-input" wicket:id="numMaxInstructions"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="helperThreadLookahead" class="control-label">Helper Thread Lookahead:</label>

                <div class="controls">
                    <span id="helperThreadLookahead" class="span9 input uneditable-input" wicket:id="helperThreadLookahead"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="helperThreadStride" class="control-label">Helper Thread Stride:</label>

                <div class="controls">
                    <span id="helperThreadStride" class="span9 input uneditable-input" wicket:id="helperThreadStride"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="numMainThreadWaysInStaticPartitionedLRUPolicy" class="control-label"># Main Thread Ways in Static Partitioned LRU Policy:</label>

                <div class="controls">
                    <span id="numMainThreadWaysInStaticPartitionedLRUPolicy" class="span9 input uneditable-input" wicket:id="numMainThreadWaysInStaticPartitionedLRUPolicy"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="numCores" class="control-label">Number of Cores:</label>

                <div class="controls">
                    <span id="numCores" class="span9 input uneditable-input" wicket:id="numCores"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="numThreadsPerCore" class="control-label">Number of Threads Per Core:</label>

                <div class="controls">
                    <span id="numThreadsPerCore" class="span9 input uneditable-input" wicket:id="numThreadsPerCore"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l1ISize" class="control-label">L1I Size:</label>

                <div class="controls">
                    <span id="l1ISize" class="span9 input uneditable-input" wicket:id="l1ISize"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l1IAssociativity" class="control-label">L1I Associativity:</label>

                <div class="controls">
                    <span id="l1IAssociativity" class="span9 input uneditable-input" wicket:id="l1IAssociativity"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l1DSize" class="control-label">L1D Size:</label>

                <div class="controls">
                    <span id="l1DSize" class="span9 input uneditable-input" wicket:id="l1DSize"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l1DAssociativity" class="control-label">L1D Associativity:</label>

                <div class="controls">
                    <span id="l1DAssociativity" class="span9 input uneditable-input" wicket:id="l1DAssociativity"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l2Size" class="control-label">L2 Size:</label>

                <div class="controls">
                    <span id="l2Size" class="span9 input uneditable-input" wicket:id="l2Size"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l2Associativity" class="control-label">L2 Associativity:</label>

                <div class="controls">
                    <span id="l2Associativity" class="span9 input uneditable-input" wicket:id="l2Associativity"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="l2ReplacementPolicyType" class="control-label">L2 Replacement Policy Type:</label>

                <div class="controls">
                    <span id="l2ReplacementPolicyType" class="span9 input uneditable-input" wicket:id="l2ReplacementPolicyType"></span>
                </div>
            </div>

            <div class="control-group">
                <label for="dynamicSpeculativePrecomputationEnabled" class="control-label">Dynamic Speculative Precomputation Enabled:</label>

                <div class="controls">
                    <span id="dynamicSpeculativePrecomputationEnabled" class="span9 input uneditable-input" wicket:id="dynamicSpeculativePrecomputationEnabled"></span>
                </div>
            </div>

        </div>
    </div>
</wicket:panel>
</body>
</html>
