<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<div class="row">
<div class="span9">

<div class="control-group">
    <label for="select_branch_predictor_type" class="control-label">Branch Predictor Type:</label>

    <div class="controls">
        <select id="select_branch_predictor_type" wicket:id="select_branch_predictor_type"></select>
    </div>
</div>

<div wicket:id="div_twoBitBranchPredictor">

    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_twoBitBranchPredictorBimodSize" class="control-label">
                    Bimod Size:</label>

                <div class="controls">
                    <input type="number" id="input_twoBitBranchPredictorBimodSize"
                           wicket:id="input_twoBitBranchPredictorBimodSize"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoBitBranchPredictorBranchTargetBufferNumSets" class="control-label">
                    Number of BTB Sets:</label>

                <div class="controls">
                    <input type="number" id="input_twoBitBranchPredictorBranchTargetBufferNumSets"
                           wicket:id="input_twoBitBranchPredictorBranchTargetBufferNumSets"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoBitBranchPredictorBranchTargetBufferAssociativity" class="control-label">
                    BTB Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_twoBitBranchPredictorBranchTargetBufferAssociativity"
                           wicket:id="input_twoBitBranchPredictorBranchTargetBufferAssociativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoBitBranchPredictorReturnAddressStackSize" class="control-label">
                    RAS Size:</label>

                <div class="controls">
                    <input type="number" id="input_twoBitBranchPredictorReturnAddressStackSize"
                           wicket:id="input_twoBitBranchPredictorReturnAddressStackSize"/>
                </div>
            </div>

        </div>
    </div>
</div>

<div wicket:id="div_twoLevelBranchPredictor">

    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorL1Size" class="control-label">
                    L1 Size:</label>

                <div class="controls">
                    <input type="number" id="input_twoLevelBranchPredictorL1Size"
                           wicket:id="input_twoLevelBranchPredictorL1Size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorL2Size" class="control-label">
                    L2 Size:</label>

                <div class="controls">
                    <input type="number" id="input_twoLevelBranchPredictorL2Size"
                           wicket:id="input_twoLevelBranchPredictorL2Size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorShiftWidth" class="control-label">
                    Shift Width:</label>

                <div class="controls">
                    <input type="number" id="input_twoLevelBranchPredictorShiftWidth"
                           wicket:id="input_twoLevelBranchPredictorShiftWidth"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorXor" class="control-label">
                    Xor:</label>

                <div class="controls">
                    <input type="checkbox" id="input_twoLevelBranchPredictorXor"
                           wicket:id="input_twoLevelBranchPredictorXor"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorBranchTargetBufferNumSets" class="control-label">
                    Number of BTB Sets:</label>

                <div class="controls">
                    <input type="number" id="input_twoLevelBranchPredictorBranchTargetBufferNumSets"
                           wicket:id="input_twoLevelBranchPredictorBranchTargetBufferNumSets"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorBranchTargetBufferAssociativity" class="control-label">
                    BTB Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_twoLevelBranchPredictorBranchTargetBufferAssociativity"
                           wicket:id="input_twoLevelBranchPredictorBranchTargetBufferAssociativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_twoLevelBranchPredictorReturnAddressStackSize" class="control-label">
                    RAS Size:</label>

                <div class="controls">
                    <input type="number" id="input_twoLevelBranchPredictorReturnAddressStackSize"
                           wicket:id="input_twoLevelBranchPredictorReturnAddressStackSize"/>
                </div>
            </div>

        </div>
    </div>
</div>

<div wicket:id="div_combinedBranchPredictor">

    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_combinedBranchPredictorBimodSize" class="control-label">
                    Bimod Size:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorBimodSize"
                           wicket:id="input_combinedBranchPredictorBimodSize"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorL1Size" class="control-label">
                    L1 Size:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorL1Size"
                           wicket:id="input_combinedBranchPredictorL1Size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorL2Size" class="control-label">
                    L2 Size:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorL2Size"
                           wicket:id="input_combinedBranchPredictorL2Size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorMetaSize" class="control-label">
                    Meta Size:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorMetaSize"
                           wicket:id="input_combinedBranchPredictorMetaSize"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorShiftWidth" class="control-label">
                    Shift Width:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorShiftWidth"
                           wicket:id="input_combinedBranchPredictorShiftWidth"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorXor" class="control-label">
                    Xor:</label>

                <div class="controls">
                    <input type="checkbox" id="input_combinedBranchPredictorXor"
                           wicket:id="input_combinedBranchPredictorXor"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorBranchTargetBufferNumSets" class="control-label">
                    Number of BTB Sets:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorBranchTargetBufferNumSets"
                           wicket:id="input_combinedBranchPredictorBranchTargetBufferNumSets"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorBranchTargetBufferAssociativity" class="control-label">
                    BTB Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorBranchTargetBufferAssociativity"
                           wicket:id="input_combinedBranchPredictorBranchTargetBufferAssociativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_combinedBranchPredictorReturnAddressStackSize" class="control-label">
                    RAS Size:</label>

                <div class="controls">
                    <input type="number" id="input_combinedBranchPredictorReturnAddressStackSize"
                           wicket:id="input_combinedBranchPredictorReturnAddressStackSize"/>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>
</wicket:panel>
</body>
</html>
