<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_tlb_size" class="control-label">Size:</label>

                <div class="controls">
                    <input type="text" id="input_tlb_size" wicket:id="input_tlb_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_tlb_associativity" class="control-label">Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_tlb_associativity" wicket:id="input_tlb_associativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_tlb_line_size" class="control-label">Line Size:</label>

                <div class="controls">
                    <input type="number" id="input_tlb_line_size" wicket:id="input_tlb_line_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_tlb_hit_latency" class="control-label">Hit Latency:</label>

                <div class="controls">
                    <input type="number" id="input_tlb_hit_latency" wicket:id="input_tlb_hit_latency"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_tlb_miss_latency" class="control-label">Miss Latency:</label>

                <div class="controls">
                    <input type="number" id="input_tlb_miss_latency" wicket:id="input_tlb_miss_latency"/>
                </div>
            </div>

        </div>
    </div>
</wicket:panel>
</body>
</html>
