<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_physical_register_file_capacity" class="control-label">
                    Physical Register File Capacity:</label>

                <div class="controls">
                    <input type="number" id="input_physical_register_file_capacity"
                           wicket:id="input_physical_register_file_capacity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_decode_width" class="control-label">
                    Decode Width:</label>

                <div class="controls">
                    <input type="number" id="input_decode_width"
                           wicket:id="input_decode_width"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_issue_width" class="control-label">
                    Issue Width:</label>

                <div class="controls">
                    <input type="number" id="input_issue_width"
                           wicket:id="input_issue_width"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_commit_width" class="control-label">
                    Commit Width:</label>

                <div class="controls">
                    <input type="number" id="input_commit_width"
                           wicket:id="input_commit_width"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_decode_buffer_capacity" class="control-label">
                    Decode Buffer Capacity:</label>

                <div class="controls">
                    <input type="number" id="input_decode_buffer_capacity"
                           wicket:id="input_decode_buffer_capacity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_reorder_buffer_capacity" class="control-label">
                    Reorder Buffer Capacity:</label>

                <div class="controls">
                    <input type="number" id="input_reorder_buffer_capacity"
                           wicket:id="input_reorder_buffer_capacity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_load_store_queue_capacity" class="control-label">
                    Load/Store Queue Capacity:</label>

                <div class="controls">
                    <input type="number" id="input_load_store_queue_capacity"
                           wicket:id="input_load_store_queue_capacity"/>
                </div>
            </div>

        </div>
    </div>
</wicket:panel>
</body>
</html>
