<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="row">
        <div class="span9">

            <div class="control-group">
                <label for="input_l1I_size" class="control-label">L1I Size:</label>

                <div class="controls">
                    <input type="text" id="input_l1I_size" wicket:id="input_l1I_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1I_associativity" class="control-label">L1I
                    Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_l1I_associativity"
                           wicket:id="input_l1I_associativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1I_line_size" class="control-label">L1I
                    Line Size:</label>

                <div class="controls">
                    <input type="number" id="input_l1I_line_size" wicket:id="input_l1I_line_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1I_hit_latency" class="control-label">L1I
                    Hit Latency:</label>

                <div class="controls">
                    <input type="number" id="input_l1I_hit_latency" wicket:id="input_l1I_hit_latency"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1INumReadPorts" class="control-label">
                    Number of L1I Read Ports:</label>

                <div class="controls">
                    <input type="number" id="input_l1INumReadPorts" wicket:id="input_l1INumReadPorts"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1INumWritePorts" class="control-label">
                    Number of L1I Write Ports:</label>

                <div class="controls">
                    <input type="number" id="input_l1INumWritePorts" wicket:id="input_l1INumWritePorts"/>
                </div>
            </div>

            <div class="control-group">
                <label for="select_l1I_repl" class="control-label">L1I Replacement Policy:</label>

                <div class="controls">
                    <select id="select_l1I_repl" wicket:id="select_l1I_repl"></select>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1D_size" class="control-label">L1D Size:</label>

                <div class="controls">
                    <input type="text" id="input_l1D_size" wicket:id="input_l1D_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1D_associativity" class="control-label">L1D
                    Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_l1D_associativity"
                           wicket:id="input_l1D_associativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1D_line_size" class="control-label">L1D
                    Line Size:</label>

                <div class="controls">
                    <input type="number" id="input_l1D_line_size" wicket:id="input_l1D_line_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1D_hit_latency" class="control-label">L1D
                    Hit Latency:</label>

                <div class="controls">
                    <input type="number" id="input_l1D_hit_latency" wicket:id="input_l1D_hit_latency"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1DNumReadPorts" class="control-label">
                    Number of L1D Read Ports:</label>

                <div class="controls">
                    <input type="number" id="input_l1DNumReadPorts" wicket:id="input_l1DNumReadPorts"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l1DNumWritePorts" class="control-label">
                    Number of L1D Write Ports:</label>

                <div class="controls">
                    <input type="number" id="input_l1DNumWritePorts" wicket:id="input_l1DNumWritePorts"/>
                </div>
            </div>

            <div class="control-group">
                <label for="select_l1D_repl" class="control-label">L1D Replacement Policy:</label>

                <div class="controls">
                    <select id="select_l1D_repl" wicket:id="select_l1D_repl"></select>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2_size" class="control-label">L2 Size:</label>

                <div class="controls">
                    <input type="text" id="input_l2_size" wicket:id="input_l2_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2_associativity" class="control-label">L2
                    Associativity:</label>

                <div class="controls">
                    <input type="number" id="input_l2_associativity"
                           wicket:id="input_l2_associativity"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2_line_size" class="control-label">L2
                    Line Size:</label>

                <div class="controls">
                    <input type="number" id="input_l2_line_size" wicket:id="input_l2_line_size"/>
                </div>
            </div>

            <div class="control-group">
                <label for="input_l2_hit_latency" class="control-label">L2
                    Hit Latency:</label>

                <div class="controls">
                    <input type="number" id="input_l2_hit_latency" wicket:id="input_l2_hit_latency"/>
                </div>
            </div>

            <div class="control-group">
                <label for="select_l2_repl" class="control-label">L2 Replacement Policy:</label>

                <div class="controls">
                    <select id="select_l2_repl" wicket:id="select_l2_repl"></select>
                </div>
            </div>

        </div>
    </div>
</wicket:panel>
</body>
</html>
